body {
    position: relative;
    font-family: Arial, sans-serif, Garamond;
    width: 100%;
    height: 100%;
    background-image: url('../images/board.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-form-wrapper {
    background-image: url('../images/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: relative;
    background-color: transparent;
    height: 250px;
    z-index: 2;
}

.header-content {
    position: relative;
    z-index: 3;
    color: rgb(179, 49, 240);
    -webkit-text-stroke-width: .85px;
    -webkit-text-stroke-color: green;
    text-align: center;
}

nav button {
    position: absolute;
    top: 50px;
    right: 40px;
    color: rgb(21, 6, 155);
    -webkit-text-stroke-width: .85px;
    -webkit-text-stroke-color: rgb(7, 8, 7);
    cursor: pointer;
}

nav button:hover {
    transform: scale(1.1);
}

main {
    height: 1500px;
    color: rgb(7, 8, 7);
}

.single-note {
    position: relative;
    font-family: Garamond;
    color: rgb(0, 255, 0);
    display: inline-block;
    width: 750px; /* Adjust as needed */
    height: 1050px; /* Adjust as needed */
    background-image: url('../images/note.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    top: 100px;
    left: 450px;
}

.single-note::before {
    content: '';
    background-image: url('../images/pin.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 120px;
    height: 135px;
    position: absolute;
    
    top: -15px;
    left: 50%;
    
    opacity: 1;
    z-index: 10;
    
}

.single-note-title {
    position: absolute;
    padding-top: 125px;
    padding-left: 85px;
    font-size: 84px;
    width: 100%;
    text-decoration: underline;
    font-weight: bold;
}

.single-note-body {
    position: absolute;
    padding-top: 258px;
    padding-left: 85px;
    font-size: 72px;
    width: 80%;
    text-wrap: wrap;
}

.edit-button {
    position: absolute;
    top: 5px;
    right: 35px;
    background-image: url('../images/edit_icon.jpg');
    background-color: transparent; /* Remove any solid background color */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px 10px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: invert(100%);
}

.edit-button:hover {
    transform: scale(1.1);
}

/* The text that will be shown on hover */
.edit-button-text {
    /* Hide the text by default */
    visibility: hidden;
    opacity: 0;
    
    /* Position the text so it appears next to the button */
    position: absolute;
    top: 100%;
    transform: translateX(-50%);

    /* Add some basic styling for the tooltip effect */
    color: rgb(1, 43, 1);
    white-space: nowrap; /* Prevents the text from wrapping */
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
    transition: opacity 0.3s; /* Smooth fade-in effect */
}

/* Show the text when the parent container is hovered over */
.edit-button:hover .edit-button-text {
    visibility: visible;
    opacity: 1;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('../images/bin_icon.jpg');
    background-color: transparent; /* Remove any solid background color */
    background-size: contain;      /* Or 'cover', to scale the image */
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px 10px;
    border: none;
    width: 20px;
    height: 25px;
    cursor: pointer;
}

.delete-button:hover {
    transform: scale(1.25);
}

/* The text that will be shown on hover */
.delete-button-text {
    /* Hide the text by default */
    visibility: hidden;
    opacity: 0;
    
    /* Position the text so it appears next to the button */
    position: absolute;
    top: 100%;
    transform: translateX(-50%);

    /* Add some basic styling for the tooltip effect */
    color: rgb(0, 255, 0);
    white-space: nowrap; /* Prevents the text from wrapping */
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
    transition: opacity 0.3s; /* Smooth fade-in effect */
}

/* Show the text when the parent container is hovered over */
.delete-button:hover .delete-button-text {
    visibility: visible;
    opacity: 1;
}

a {
    position: absolute;
    left: 50%;
    bottom: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

a:hover {
    text-decoration: underline;
}
