body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 130, 156);
}

header {
    background-color: #2fe7e7;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav button {
    position: absolute;
    top: 50px;
    right: 40px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.hidden {
    display: none; /* Ensure sections are hidden */
}

#notesList {
    list-style: none;
    padding: 0;
}

#notesList li {
    color: black !important;
    display: inline-block;
    width: 250px; /* Adjust as needed */
    height: 350px; /* Adjust as needed */
    background-image: url('note.jpg');
    background-size: cover; /* or cover, or specific dimensions */
    background-repeat: no-repeat;
    margin-right: 25px;
    padding-left: 15px;
    padding-top: 50 px;
    vertical-align: middle; /* Align with text */
}