name: ci

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'
      - name: Install Dependencies
        run: go mod tidy
      - name: Run Migrations
        run: |
          # Run goose using go run directly, assuming goose is in your go.mod
          go run github.com/pressly/goose/v3/cmd/goose -dir ./sql/schema postgres "user:password@localhost:5432/test_db?sslmode=disable" up
      - name: Run Tests
        run: go test -v ./...
        env:
          DB_URL: postgres://user:password@localhost:5432/test_db?sslmode=disable
